Repository lost-osiris/beth-harmon: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flakehell, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Modify files
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      # Lint files
      - id: flakehell
        name: flakehell
        entry: flakehell lint
        language: system
        types: [file, text]
        files: \.(ipynb|md|py|rst|yaml|yml)$
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        exclude: 'to_sort/*'
        types: [yaml]

fixing weird edge case where order of command arguments values mattered
  src/beth/commands/schedule.py
Due: isort, black, flakehell

updated to new discord.py version and logging setup
  poetry.lock
  pyproject.toml
  src/beth/main.py
Due: isort, black, flakehell, check-toml

fixing start with new logging
  start.sh
Due: none

now using cogs and removed the logic for complete schedule automation
  src/beth/commands/schedule.py
  src/beth/defines.py
  src/beth/main.py
Due: isort, black, flakehell

fixing staff role title
  src/beth/commands/schedule.py
Due: isort, black, flakehell
